doctype
html
  head
    // main styles
    //CSS and JS includes
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='assets/styles.css')
    
    
  body
    
    //include header

    //main content
    append block content
    
    //include footer