extends ../layouts/about-us-individual-layout

append block name
    p Jan Clarence Dee
    
append block description
    p ConSat-Sad.
    
append block picture
     img(src="About-Us/pics/jan.clarence.dee.jpg")