extends ../layouts/about-us-individual-layout

append block name
    p Nick Sweet
    
append block description
    p I am become optimism 
    
append block picture
     img(src="About-Us/pics/nick.sweet.jpg")