extends ../layouts/about-us-individual-layout

append block name
    
    p Shawn Stoute
    
append block description
    p super cool
    
append block picture
     img(src="About-Us/pics/shawn.stoute.jpg")