extends layouts/default

append block content

    .container
        .jumbotron
            h1(class="text-center") About Space Concordia
    .container
        .row
            .col-sm-4
                include About-Us/Shawn.Stoute.jade    
            .col-sm-4
                include About-Us/nick.sweet.jade
            .col-sm-4
                include About-Us/jan.clarence.dee.jade
        .row
            .col-sm-4
                include About-Us/Shawn.Stoute.jade    
            .col-sm-4
                include About-Us/nick.sweet.jade
            .col-sm-4
                include About-Us/jan.clarence.dee.jade