extends layouts/default

append block content
    .container
        .jumbotron
            h1 First bootstrap page
            p much resize
        .row
            .col-sm-4
                h3 column1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
            .col-sm-4
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
            .col-sm-4
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...